$dblue: dodgerblue;
$lgreen: lightgreen;


.panel {
	border: 3px solid $dblue;
	background: $lgreen;
	margin: 10px;
}

// @extend grabs all the code from .panel and "copies it" into .little-panel
.little-panel {
	@extend .panel;
	font-size: 12px;
	padding: 5px;
}

.big-panel {
	@extend .panel;
	font-size: 24px;
	padding: 20px;
}